@model TransactionImporter.WebUI.Models.DownloadModels

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>
        <dt>
            Download-Raw:
        </dt>
        <dd>
            @Html.ActionLink("Download Raw", "Download", new {id = Model.UploadId, continent = "N/A", controller = "Download"})
        </dd>
        <dt>
            Download-EU:
        </dt>
        <dd>
            @Html.ActionLink("Download EU", "Download", new {id = Model.UploadId, continent = "EU", controller = "Download"})
        </dd>

    </dl>
</div>
