@model TransactionImporter.WebUI.Models.DownloadModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DownloadModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UploadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
